env
__pycache__
node_modules
db.sqlite3
frontend/package-lock.json
backend/static/avatar/*
executables
*.o
opentest
solveur/open_dict_test
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
array_test
.vscode/

testeur/wordsolv_testeur
build/solv_3b1b_test
build/maintest3
build/solv_3b1b
wsolf.txt

testeur/dicoz.txt

solveur/solveur_naif/build/test
solveur/solveur_naif/build/solveur_naif
solveur/solveur_3t/build/linked_test
solveur/solveur_3t/build/open_dict_test
solveur/solveur_3t/build/solveur_3t
solveur/solveur_3b1b/build/solveur_3b1b_test
solveur/solveur_3b1b/build/solveur_3b1b

build/array_test_int
build/freqsolve
build/linkedtest
build/open_dict_test
build/wordle