env
__pycache__
node_modules
db.sqlite3
frontend/package-lock.json
backend/static/avatar/*
executables
dict.txt
*.o
opentest
solveur/open_dict_test
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
array_test
.vscode/

solveur/null.d

solveur/wsolf.txt

testeur/wordsolv_testeur
solveur/test/open_dict_test
solveur/test/wordle
solveur/wordle

solveur/test/array_test_int

solveur/test/freqsolve
solveur/test/linkedtest
solv_3b1b_test
maintest3
